body {
	margin:0 auto;

}
div,ul,li{padding: 0px; margin: 0px auto; list-style:none;}
img{ border: none;}
.clear{clear: both;}

.login_box{
    margin: 0 auto;
    margin-top: 60px;
    width: 450px;
    background-color: rgba(255,255,255,0.8);

    box-shadow:0 0 10px #999;
    border-radius:10px;
    padding: 10px;
}

.login_box ul{
    margin: 10px;
    font-size: 18px;
    line-height: 45px;
    color: #625e66;
    font-family: "微软雅黑 Light";
}

.login_title{
    text-align: center;
    font-size: 18px;
	width: 180px;
    margin:0 auto;
    font-family: "微软雅黑 Light";
    color: #625e66;
    padding-bottom: 10px;
	
}
.float_l{ float:left;  }
.content{
	margin:0px auto;
    text-align: center;
	}

#login_node{
    margin: 0 auto;

    left:80%;
}
#register_node{
    margin: 0 auto;


}
.float_l .input_on{
    width:200px;
    border-radius:5px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 7px;
    border:2px solid #D3D3D3;
}
.float_l .input_on:focus{ border:2px solid #1e90FF;  box-shadow:0 0 10px #999;}

.input_error{
    width:200px;
    border-radius:5px;
    margin-left: 10px;
    padding: 7px;
    border:2px solid #FF0033;
    box-shadow:0 0 10px #D3D3D3;
}

/*a  upload */
.a-upload {
    margin-top: 8px;
     margin-left:50px;
    padding: 4px 25px;
    height: 30px;
    line-height:30px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}


.cue {
    height:40px;
    line-height:40px;
    font-size:14px;
    border:1px #CCCCCC solid;
    margin-top:10px;margin-bottom:5px;
    text-align:center;
    font-family:"Hiragino Sans GB", "Microsoft Yahei";
}


#div1{
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
z-index:-1;
}
#div1  img {
height:100%;
width:100%;
border:0;
}