*{margin: 0;padding: 0;border: 0;list-style-type: none;}
body{width: 100%;height: 100%; /*max-width: 1200px; max-height: 800px;*/}

#nav{width: 100%; height: 70px; background-color: #0080D8;}
#nav ul{float: left;}
#nav ul li{float: left; margin-left: 50px; width: 100px; height: 70px; text-align:center; line-height: 70px;}
.login{ padding-left: 40px; padding-right: 190px;}
.login a{ text-decoration:none; margin-bottom:20px;  vertical-align:middle; font-weight:bold; font-size:22px; }
.login a span{ color:#fff; te}
.info{  display: block; width: 100px;height: 70px; }
.info a{color: #fff; text-decoration: none;}
.info a:hover{display: block;background-color: white; font-size: 22px; color:#0080D8;}
/*nav end*/

#mian{width: 100%;height: 750px;}

.mian_left{width:20%; height: 750px; background-color:#ffffff; float: left;}
.photoWen{text-align: center;}
.photoWen img{ width:240px; box-shadow: 3px 3px 3px 3px #c0c0c0; border-radius: 3px;}
h2{font-family: "微软雅黑"; margin: 15px;}
img{}
/*mian_left end*/

.mian_right{width:80%;height: 750px; background:url(../images/b.jpg); float: left;}
#userInfo{width: 350px; height: 300px; background-color: rgba(65,65,65,0.7); margin: 40px 50px 10px 450px;
    position: relative; opacity: 0.6; box-shadow: 2px 2px 2px 2px #999999; border-radius: 5px; }


#login-box{ }
h1{ padding:30px 50px 10px 50px; font-family: "微软雅黑"; text-align: center; line-height: 30px;}
.login_info{margin-left: 140px; text-align: center; line-height:50px; margin-bottom: 30px;}
.login_info a{ text-decoration: none; font-size: 20px; font-weight: 700; color: #ffffff; padding-top:30px;}
.login_info a:hover{font-size: 22px; color: red}
.regLogin{margin-left: 100px;}
.regLogin a{ padding-top: 50px; text-align: center; line-height: 20px; color: #87CEFF;}
.regLogin a:hover{color: #87CEFF;}

#advert{ text-align:center; margin-top:50px;}
#advert img{ margin-left:50px;}
 
.copyright {
    clear: both;
    width: 100%;
    height: 200px;
    /*
    background-color: #E8e8E8;
    */
    background-color:#0072BC ;
    margin-top: 10px;
}
.copyright_content {
    width: 1000px;
    height: 180px;
    margin: 0 auto;
    padding-top: 20px;
}
.copyright_content li {
    list-style-type: none;
    float: left;
    width: 200px;
    text-align: center;
    background: url(../images/line.png) no-repeat right center;
    font-size: 18px;
    font-family: "微软雅黑";
    line-height: 30px;
    color: #999;
}
.copyright_content li ul li {
    font-size: 14px;
}
.n_main {
    width: 1000px;
    min-height: 320px;
    _height: 320px;
    margin: 10px auto;
}
.n_main_left {
    width: 220px;
    float: left;
}
.n_main_right {
    width: 770px;
    float: right;
    background-color: #FFF;
}
.page
{
    height:40px;
    margin-top:10px;
    text-align:center;
}
.page a
{
    display:inline-block;
    border: 1px solid #E8E8E8;
    text-decoration:none;
    margin:5px;
    padding:5px 10px;;
}
.page a:link,.page a:visited
{
    color:#000;
}
.page a:hover,.page a:active
{
    color:#FFF;
    background-color:#cc1b1b;
}

.n_main_left, .n_main_right {
    min-height: 320px;
    _height: 320px;
}
.n_main_l_title {
    height: 35px;
    background: url(../images/titile_bg.gif) repeat-x;
    line-height: 35px;
    padding-left: 20px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666;
}
.n_main_l_content {
    height: 265px;
    background: url(../images/content_bg.gif) repeat-x left top;
    background-color: #FFF;
}
.n_main_l_content li {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #E8E8E8;
    padding-top: 3px;
}
.n_main_l_content li a {
    color: #666;
    text-decoration: none;
    display: block;
    /*
    background: url(../images/li_bg.gif) no-repeat left center;
    */
    padding-left: 15px;
}
.n_main_l_content li a:hover {
    color: #009CDF;
    text-decoration: none;
    /*
    background: url(../images/li_bg2.gif) no-repeat left center;
    */
    background-color: #F2F2F2;
}
.n_main_r_title {
    height: 35px;
    line-height: 35px;
    background: url(../images/type_bg.png) repeat-x;
    padding-left: 20px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666;
}
.n_main_r_news_title {
    font-size: 20px;
    font-family: "微软雅黑";
    text-align: center;
    margin: 10px 0;
}
.n_main_r_news_info {
    color: #666;
    text-align: center;
    border-bottom: 1px dotted #666;
}
.n_main_r_news_text {
    font-size: 14px;
    line-height: 25px;
    padding: 20px;
    text-indent: 2em;
}
